/* Main container styles */
.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 20px;

}

/* Navbar styles */
.navbar {
  background-color: #ff7733;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logo-icon {
  margin-right: 10px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.login-btn {
  background-color: #fff9f2;
  color: #ff7733;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
}

/* Content styles */
.content {
  display: flex;
  justify-content: center;


}

/* Section styles */
.section {
  width: 450px;
  position: relative;
  padding-bottom: 30px;
}

.section-inner {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hospital {
  background-color: #a7b8e0;
  padding: 20px;
  border-radius: 5px;
  height: fit-content;
}

.patient {
  background-color: #f8d3b0;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  height: fit-content;
}

.patient::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 20px;
  bottom: 0;
  width: 20px;
  /* background-color: #b33a20; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Text styles */
h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Button styles */
.login-section-btn {
  background-color: white;
  border: 1px solid #333;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  margin: 10px 0;
}

/* Account note styles */
.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.note a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.signup-text {
  font-weight: bold;
}

