/* Main container for the footer */
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 10vh; /* Ensures footer sticks at the bottom */
}

/* Footer styling */
.footer {
  background-color: #2c502ea8; /* Dark background for contrast */
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
 height:90px;
}

.footerLogo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #bdc3c7;
}

/* Social media icon container */
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Social media icon links */
.socialLink {
  color: white;
  transition: color 0.3s ease;
  font-size: 30px;
}

.socialLink:hover {
  color: #1abc9c; /* Color change on hover */
}
